body {
  margin: 100px auto;
  width: 100vw;
  text-align: center;
}

h1 {
  margin-bottom: 200px;
}

.nav-links {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  padding: 16px 8px;
  border-radius: 10px;
  border: none;
  outline: 1px solid #222;
  background-color: #ccc;
  font-size: larger;
  width: 150px;
}

a {
  text-decoration: none;
  /* border: 1px solid; */
}
